/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  position: relative;
}

.header__record-img {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.container {
  padding: 10px;
}

.header {
  display: grid;
  gap: 65px;
}

.header__theme-menu {
  text-align: end;
  padding-block-start: 76.5px;
}

.main__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%;
}