/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  display: grid;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.page__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #FF0070);
  inset-inline-end: 20px;
  inset-block-start: 10px;

  @media (width >=768px) {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }
}

.page__rec::before {
  content: 'REC';
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.page__rec::after {
  content: '';
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.title-decor {
  background: var(--accent-color, );
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--decorated-color, #FF0070);
  border-block-start: 1px solid var(--decorated-color, #FF0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--decorated-color, #FF0070);
  border-block-end: 1px solid var(--decorated-color, #FF0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
}

@media (width >=768px) {
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
}

.section__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #FF0070);
}

.section__link:hover {
  border-bottom: 1px solid currentColor;
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.header__record-img {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;

  @media (width >=768px) {
    margin-block-end: 60px;
    padding: 20px;
  }
}

.header__title {
  justify-self: start;
  align-self: center;

  @media (width >=768px) {
    margin-inline-start: -18px;
  }
}

.header__theme-menu {
  justify-self: end;
  align-self: center;

  @media (width >=1024px) {
    justify-self: center;
    align-self: start;
    padding-top: 24px;
  }
}

.header__theme-menu-list {
  @media (width >=1024px) {
    position: relative;
    top: -25px;
    display: flex;
    gap: 10px;
  }
}

.heading {
  color: var(--main-title-color, #DB00FF);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color, #FF0070);

  @media (width >=768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__text {
  justify-self: end;
  align-self: center;
  color: var(--header-text-color, #000028);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 130%;
  inline-size: 100%;
  block-size: fit-content;

  @media (width >=768px) {
    max-inline-size: 364px;
  }

  @media (width >=1024px) {
    max-inline-size: 491px;
  }
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--menu-btn-color, #FF0070);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    outline: 1px solid var(--menu-btn-color, #FF0070);
  }
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-btn-color, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-btn-color, #FF0070);
  pointer-events: none;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 50px;
  padding-inline: clamp(10px, 2.66%, 20px);

  @media (width >=768px) {
    gap: 80px;
  }
}

.section,
.section__text {
  display: grid;
  gap: 20px;
}

.reasons,
.focus-strategies {
  @media (width >=768px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
  }

  @media (width >=1024px) {
    grid-auto-flow: column;
    grid-template-columns: 0.97fr 2fr;
  }
}

.distractions .heading-second {
  @media (width >=768px) {
    max-inline-size: 236px;
  }

  @media (width >=1024px) {
    max-inline-size: 315px;
  }
}

.distractions__content {
  @media (width >=1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    grid-auto-flow: row;
  }
}

.heading-second,
.heading-third,
.heading-forth,
.section-text {
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
}

.heading-second {
  color: var(--heading-color-second, #FF0070);
}

.heading-third,
.heading-forth {
  margin-block-end: 10px;
  color: var(--heading-color-third, #000028);
}

.section-text {
  color: var(--text-color);
  font-weight: 400;
}

.flex {
  @media (width >=768px) {
    display: flex;
    gap: 20px;
  }
}

.focus-strategies .heading-third {
  margin-block-end: 20px;
}

.focus-strategies__text,
reasons__text {
  display: flex;
  flex-direction: column;
}

@media (width >=1024px) {
  .distractions__text {
    display: flex;
    gap: 20px;
  }
}

.visual-aids {
  margin-block-end: 40px;

  @media (width >=768px) {
    margin-block-end: 60px;
  }
}

.visual-aids .heading-second {
  color: var(--heading-color-third, #000028);
  margin-block-end: 10px;

  @media (width >=768px) {
    margin-block-end: 20px;
  }
}

.visual-aids.section {
  gap: 0;
}

.visual-aids__images {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width >=768px) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row dense;
    gap: 20px;
  }
}

.visual-aids__img {
  object-fit: cover;
  inline-size: 100%;

  @media (width >=768px) {
    block-size: 100%;
  }
}

@media (width >=768px) {
  .visual-aids__img:first-child {
    grid-column: span 2;
  }

  .visual-aids__img:nth-child(2) {
    grid-row: span 2;
  }

  .visual-aids__img:nth-child(3) {
    grid-row: span 2;
  }

  .visual-aids__img:last-child {
    grid-column: span 2;
  }
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;

  @media (width >=768px) {
    padding: 20px;
  }
}

.footer__title {
  align-self: center;
  justify-self: center;
  margin-block-end: 0;
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
}