/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  display: grid;
  position: relative;
  padding: 10px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media (width >=768px) {
    padding: 20px;
  }
}

.page__rec {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  color: var(--accent-color);

  @media (width >=768px) {
    inset-inline-end: 30px;
    inset-block-start: 20px
  }
}

.page__rec::before {
  content: 'REC';
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.page__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.title-decor {
  background: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  place-self: start end;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorated-color);
  border-inline-end: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  content: '';
  place-self: end start;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorated-color);
  border-inline-start: 1px solid var(--decorated-color);
}

.header__record-img {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.header {
  display: grid;
  margin-block-end: 51px;

  @media (width >=768px) {
    margin-block-end: 60px;
  }
}

.header__theme-menu {
  margin-block-start: 40.5px;
  margin-block-end: 65px;
  text-align: end;

  @media (width >=768px) {
    margin-block-start: 147.5px;
    margin-block-end: 173px;
  }

  @media (width >=1024px) {
    margin-block-start: 0;
    margin-block-end: 240.5px;
    place-self: center;
  }
}

.header__theme-menu-list {
  @media (width >=1024px) {
    display: flex;
    gap: 10px;
    position: relative;
    top: -25px;
  }
}

.header__title {
  margin-block-end: 55px;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;

  @media (width >=768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-end: 161.5px;
  }

  @media (width >=1024px) {
    margin-block-end: 113px;
  }
}

.header__text {
  inline-size: 100%;
  margin-block-end: 30px;
  block-size: fit-content;
  color: var(--header-text-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 130%;

  @media (width >=768px) {
    max-inline-size: 364px;
    justify-self: end;
    margin-block-end: 135px;
  }

  @media (width >=1024px) {
    max-inline-size: 491px;
    margin-block-end: 90px;
  }
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 13px;
}

.header__theme-menu-button {
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  border: none;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color);
  }
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.section {
  margin-block-end: 50px;

  @media (width >=768px) {
    margin-block-end: 80px;
  }
}

.heading-second,
.heading-third,
.section-text {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.heading-second {
  color: var(--heading-color-second);
  margin-block-end: 20px;

  @media (width >=768px) {
    inline-size: 236px;
  }

  @media (width >=1024px) {
    inline-size: 315px;
  }
}

.heading-third {
  color: var(--heading-color-third);
  margin-block-end: 10px;
}

.section__article {
  margin-block-end: 30px;
}

.section-text {
  color: var(--text-color);
  font-weight: 400;
}

.flex {
  @media (width >=768px) {
    display: flex;
    gap: 20px;
  }
}

.focus-strategies__text,
reasons__text {
  display: flex;
  flex-direction: column;
}

@media (width >=1024px) {
  .distractions__text {
    display: flex;
    gap: 20px;
  }
}

.visual-aids__images {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width >=768px) {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
}

.visual-aids__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

@media (width >=768px) {
  .visual-aids__img:first-child {
    grid-column: span 2;
  }

  .visual-aids__img:nth-child(2) {
    grid-row: span 2;
  }

  .visual-aids__img:nth-child(3) {
    grid-row: span 2;
  }

  .visual-aids__img:last-child {
    grid-column: span 2;
  }
}